body{
  font: 15px Algerian, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-image: url("../img/bosque.jpg");
 }

/* Estilos globales */
.contenedor{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}
img {
border: 4px solid grey;
margin: 0;
padding: 0;
border-radius: 400px;
overflow: hidden;
}
.boton1{
  height:38px;
  background:#95A5A6;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}


/* Encabezado **/
header{
  background:#6e150e;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#2e219e 10px solid;
}
/*texto cabecera*/
header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:20px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #marca{
  float:right;
}

header #marca h1{
  margin:0;
}

header nav{
  float:center;
  margin-top:10px;
}

header .resaltado, header .actual a{
  color:#000000;
  font-weight:bold;
}

header a:hover{
  color:#000000;
  font-weight:bold;
}

/* Cabecera con imagen, texto pag inicio*/
#cabecera{
  min-height:1000px;
  background:url('../img/cabecera.jpg') no-repeat 0 -10px;
  text-align:left;
  color:#6e0b81;
}

#cabecera h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}
#cabecera h2{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#cabecera p{
  font-size:30px;
}

/* Formulario */
#boletin{
  padding:15px;
  color:#ffffff;
  background:#6e150e;
}

#boletin h1{
  float:right;
}
#boletin h2{
  float:right;
}

#boletin form {
  float:right;
  margin-top:15px;
}

#boletin input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
/* libros, bordes*/
ul#libros li{
  list-style: none;
  padding:20px;
  border: #000000 solid 3px;
  margin-bottom:5px;
  background:#d6d7d7;
}
/*pie de pagina*/
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#6e150e;
  text-align: left;
}


/* Estilos para el formulario de contacto */

input, textarea{
  width: 95%;
  height: 35px;
  border: 1px solid gray; 
  margin-bottom: 5px;
}

textarea{
  height: 120px;
}
/*Boton*/
input[type='submit']{
  background-color: #2E4053;
  color: #fff;  
}

/* Media Queries */
@media(max-width: 768px){
  header #marca,
  header nav,
  header nav li,
  #boletin h1,
  #boletin h2,
  #boletin form,
  article#main-col,
  header{
    padding-bottom:20px;
  }

  #boletin h1{
    margin-top:40px;
  }
  #boletin h2{
    margin-top:40px;
  }

  #boletin button{
    display:block;
    width:100%;
  }

  #boletin form input[type="email"]{
    width:100%;
    margin-bottom:5px;
  }

  input, textarea{
    width: 98%; 
  }
 
}
